/* 
xsm: < 567px;
sm: >= 567px
md: >= 768px;
lg: >= 992px;
xl: >= 1200px;
xxl: >= 1400px;
 */

BODY {
  background-color: rgb(24, 24, 24);
  /* background-color: rgba(0, 0, 0, 0.795); */
  background-image: url("resources/bg-dark.png");
  /* background-size: 15%; */
  background-repeat: repeat;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bottom-line {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  SECTION {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#bubble-counter, #visit-counter {
  font-size: large;
  BUTTON {
    padding: 5px;
  }
}

#reset-bubble, #reset-visit {
  margin-top: 20px;
}

#villagers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-text {
  text-align: center;
}

.checked {
  filter: grayscale(100%);
  text-decoration: line-through;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.villager {
  text-align: center;
  margin: 5px;

  p {
    margin-top: 0px;
  }
}

.testing {
  border: 1px dashed white;
}

@media screen and (max-width: 567px) {
  BODY {
    background-size: 70%;
  }
  #bottom-line {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    
  }

  .villager {
    margin: 5px;
    &:last-child{
      grid-column: 2;
    }
    
    & > img {
      width: 6em;
    }
  }
}